body {
    /*    background-color: #999;*/
    padding-top: 75px;
    background-image: url("../img/reddit.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}


.transp{
    filter:alpha(opacity=70);
}

.image-bg-fluid-height {
    /*	background: url("../img/bg.jpg");*/
    padding: 100px 100px;
}

.image-bg-fixed-height {
	/*background: url("../img/bg.jpg");*/
    /*height: 450px;*/
}

.img-center {
	margin: 0 auto;
}

.section {
    margin-top: 30px;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

#nav{
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 25px;
    padding-bottom: 20px;

    border-color: white;
    border-width: 2px;
    border-style: dotted; 
}

.grid-item{
    margin-left: 10px;
    float: left;
    width: 275px;
    height: 200px;
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
    padding: 10px;
    margin-bottom: 10px;
}

.grid-item:hover{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background: #d64759;
}

.grid-item--height2{
    height: 340px; 
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
    padding: 10px;
    margin-bottom: 10px;
}

.card-style1{
    border-color: white;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.card-style2{
    border-color: white;
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.card-style2 hr{
    border-top-color: black !important;
    color: black;
}


.title{
    font-size: 20px;
    font-weight: bold;
}

hr{
    border-top-color: white !important;
    border-color: white !important;
    color: white;
    margin: 5px;
    border-width: 1px;
    border-style: dotted;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

.grid-footer .col-sm-5{
    padding-left: 0px;
}

.comment1{
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    color: white;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.comment2{
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
    border-color: black;
    background-color: rgba(255,255,255,0.6);
    color: black;
    margin-bottom: 10px;
}

.comment2 a:link{
    color: black;
}

.comment2 a:visited{
    color: black;
}

.comment2 hr{
    border-top-color: black !important;
    border-color: black !important;
    color: black;
    margin: 5px;
    border-width: 1px;
    border-style: dotted;
}

/*.navbar-fixed-top{
    width:800px;
}*/