body {
    padding-top: 100px;
    background-image: url("../img/reddit.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.transp{
    filter:alpha(opacity=70);
}

.image-bg-fluid-height {
    padding: 100px 100px;
}

.img-center {
	margin: 0 auto;
}

.section {
    margin-top: 30px;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

#nav{
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-color: white;
    border-width: 2px;
    border-style: dotted; 
}

.grid-item{
    margin-left: 10px;
    float: left;
    width: 355px;
    word-break: break-all;
    border-color: white;
    color: white;
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
    padding: 10px;
    margin-bottom: 10px;
}

.grid-reddit{
     background-color: rgba(0,0,0,0.6);
}

.grid-reply{
    background-color: rgba(255, 255, 255, 0.6);
    border-color: black;
    color: black;
}

.grid-reply a:link{
    color: #2f4956;   
}

.grid-reply a:visited{
    color: #2f4956;
   
}

.grid-reply hr{
    border-top-color: black !important;
    border-color: black !important;
    color: black;
    margin: 5px;
    border-width: 1px;
    border-style: dotted;
}

.grid-reply:hover{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background-color: rgba(255,255,255,0.8);
}

.grid-reddit:hover{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background-color: rgba(0,0,0,0.8);
}


.title{
    font-size: 20px;
    font-weight: bold;
}

body{
    font-family: Verdana, Geneva, sans-serif;
}

hr{
    border-top-color: white !important;
    border-color: white !important;
    color: white;
    margin: 5px;
    border-width: 1px;
    border-style: dotted;
}

a:link{
    color: #94bfd1;
}

a:visted{
    color: #94bfd1;
}

.grid-footer .col-sm-5{
    padding-left: 0px;
}

.grid-footer {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.comment1{
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    color: white;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.comment2{
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
    border-color: black;
    background-color: rgba(255,255,255,0.6);
    color: black;
    margin-bottom: 10px;
}

.comment2 a:link{
    color: black;
}

.comment2 a:visited{
    color: black;
}

.comment2 hr{
    border-top-color: black !important;
    border-color: black !important;
    color: black;
    margin: 5px;
    border-width: 1px;
    border-style: dotted;
}

#index_search_bar{
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 25px;
    border-color: white;
    border-width: 2px;
    border-style: dotted; 
    padding-left: 200px;

}

#jumbotron{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    padding: 20px;
    padding-top: 50px;
    border-color: white;
    border-width: 2px;
    border-style: dotted; 
}

#jumbotron h1{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#jumbotron h2{
    color: #ad9b95;
    font-family: sans-serif;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 40px;
}