
{% for thread in threads %}
{% with thread = thread %}
{% include "grid.html" %}
{% endwith %}
{% endfor %}

<script>
	$(".grid-item:even" ).addClass("card-style1")
	$(".grid-item:odd" ).addClass("card-style2")
	var colors = [
	'linear-gradient(90deg, #f1f2b5 10%, #135058 90%)',
	'linear-gradient(90deg, #a770ef 10%, #cf8bf3 90%)',
	'linear-gradient(90deg, #20002c 10%, #cbb4d4 90%)',
	'linear-gradient(90deg, #000046 10%, #1cb5e0 90%)',
	'linear-gradient(90deg, #4ac29a 10%, #bdfff3 90%)',
	'linear-gradient(90deg, #FD6F46 10%, #FB9832 90%)', 
	'linear-gradient(90deg, #01a99c 10%, #0698b1 90%)',
	'linear-gradient(90deg, #99D22B 10%, #FBFF00 90%)',
	'inear-gradient(90deg, #50C9C3 10%, #96DEDA 90%)',
	'linear-gradient(90deg, #d64759 10%, #da7352 90%)',
	'linear-gradient(90deg,#224e4d 10%,#083023 90%)'
	];

	$(".grid-item").hover(
		function() {
			$(this).css("background-color", colors[Math.floor(Math.random() * colors.length)]);
		}, function() {
			$(this).css("background-color","");
	});
</script>