{% if args["style"] == 0 %}
<div class="comment1 row">
{% else %}
<div class="comment2 row">
{% endif %}
<!-- <a  href="/thread/{{thread.Id}}"> -->
	<div>
		<div class="title"><a href="/thread/{{args['comment'].Id}}">{{args["comment"].title[0:50]}}</a></div>
		<hr>
		<div class="abstract"><a href="/thread/{{args['comment'].id}}">
			<p>{{args["comment"].abstract}}</p></a>
		</div>
		<hr>
		<div class="col-sm-12">	    
			<div class="col-sm-8">Submit time : {{args["comment"].time}}</div>
			<div class="col-sm-2">User : {{args["comment"].author}}</div>
			<div class="col-sm-2">Subcomments : {{args["comment"].comment_number}}</div>
		</div>
	</div>
<!-- </a> -->
</div>