{% if reddit.body|length > 200 %}
<div class="grid-item grid-item--height2">
{% else %}
<div class="grid-item">
{% endif %}
	<div>
		<div class="title"><a href="/reddit/{{reddit.Id}}">Reddit : {{reddit.title[0:50]}}</a></div>
		<hr>
		<div class="body"><a href="/reddit/{{reddit.id}}">
			<p>{{reddit.body}}</p></a>

		</div>
		<hr>
		<div class="grid-footer col-sm-12">	    
			<div class="col-sm-6">{{reddit.time}}</div>
			<div class="col-sm-6">{{reddit.author}}</div>
		</div>
	</div>
<!-- </a> -->
</div>