{% if reddit.depth == -1  %}
<div class="grid-item grid-reddit">
	{% else %}
	<div class="grid-item grid-reply">
		{% endif %}
		<div>
			<div class="title">
				{% if reddit.depth == -1  %}
				<a href="/reddit/{{reddit.id}}">
				Reddit : 
				{% else %}
				<a href="/reply/{{reddit.reply_id}}">
				Reply : 
				{% endif %}
				{{reddit.title[0:35]}}
				{% if reddit.title|length > 35 %}
				...
				{% endif %}
			</a>
			</div>
			<hr>
			<div class="body">
				{{reddit.body|safe}}
			</div>
			<hr>
			<div class="grid-footer col-sm-12">
				<div class="col-sm-3 text-left">{{reddit.score}}</div>	    
				<div class="col-sm-5 text-left">{{reddit.time[0:10]}}</div>
				<div class="col-sm-4 text-right"><a href="/author/{{reddit.author}}">
					{{reddit.author[0:8]}}
					{% if reddit.author|length > 8 %}
					...
					{% endif %}
				</a>
			</div>
		</div>
	</div>
	<!-- </a> -->
</div>