<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reddar</title>
    <meta charset="utf-8">
    <meta name="description" content="A Ssearch Engine For Subreddit IAMA">
    <meta name="author" content="Huiming Jia | Ningyang Jin">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static' , filename='css/custom.css')}}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <header id="jumbotron" class="text-center">
            <h1>I AM A</h1>
        </header>
        <!-- Content Section-->
        <section>
            <div id="index_search_bar"">
                <div class="row">
                  <form class="col-sm-12 form" action="search" method="get">
                    <div class="tn-group  col-sm-2">
                        <select name="sort" class="form-control">
                          <option value="0">Popularity</option>
                          <option value="1">Comments</option>
                      </select>
                  </div>
                  <div class="form-group input-group">
                    <input type="text" class="form-control" name="query">
                    <input type="hidden" class="form-control" name="page" value="0">

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/jquery.infinitescroll.min.js"></script>  
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/masonry.pkgd.min.js"></script>
<script src="../static/js/custom.js"></script>>
<!-- Footer -->
</body>
</html>

