{% if args["style"] == 0 %}
<div class="reddit-item comment1">
	{% else %}
	<div class="reddit-item comment2">
		{% endif %}
		<div>
			{% if args["style"] == 1 %}
			<div class="title">{{args["reddit"].title[0:50]}}</div>
			<hr>
			{% endif %}

			<div class="body">
			{% if args["style"] == 1  %}
			<p>{{args["reddit"].body | safe}}</p>
			{% else %}
			<a href="/reply/{{args['reddit'].id}}">
				<p>{{args["reddit"].body | safe}}</p>
			</a>
				
			{% endif %}
			</div>
			<hr>

			<div class="col-sm-12">	    
				<div class="col-sm-8">Time : {{args["reddit"].time}}</div>
				<div class="col-sm-4 text-right"><a href="/author/{{reddit.author}}">
					By : {{args["reddit"].author}}</a></div>
				</div>
			</div>
		</div>