<div class="search_bar">
    <div class="tn-group  col-sm-2">
        <select name="genre" class="form-control">
          <option value="popularity">Popularity</option>
          <option value="comment">Comments</option>
        </select>
    </div>
    <form class="col-sm-10 form" action="search" method="get">
        <div class="form-group input-group">
            <input type="text" class="form-control" name="query">
            <input type="hidden" class="form-control" name="page" value="1">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>
</div>